# Python
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/
.env
venv/
env/

# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
*.tfvars
!terraform.tfvars.example
crash.log

# Docker
.dockerignore

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp

# Grafana / Prometheus data
grafana_data/
prometheus_data/
